$prymary: #ffa826;
$prymary-hover: #e08700;

$text-ligth: #fff;

$background-dark: #000;
$background-grey: #f0f3f4;
$background-dark-web: #16212b;

$border-grey: #808080; 

//status
$success: #84b84c;
$error: #9f3a38;

